
#main-first {
  display: block;
}
#main-second {
  display: none;
}
#main-third {
  display: none;
}
/*see on kommentaar*/
body{
	background:grey; 
}
.logo{
	display: block;
}
#logo {
  width: 90%;
  height: 100px;
  border-radius: 30px;
  margin: 15px auto;
  border: 5px solid pink;
}
/* navbar vidinad */
#navbar {
  top: 0;
  z-index: 1;
  position: sticky;
  background-color: yellowgreen;
  max-width: 90%;
  min-width: 35%;
  margin: auto;
  height: 60px;
  border-radius: 30px;
  border: 5px solid green;
}
nav ul {
  display: flex;
  margin: 0;
  justify-content: center;
}
nav ul li {
  list-style: none;
}
nav ul li a {
  display: block;
  color: deeppink;
  padding: 20px;

  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
 
}
nav ul li a:hover,
nav ul li a:active {
  background: pink;
}


#pages {
	background: #f0f0f0;
  width: 90%;
  height: 70vh;
  border-radius: 30px;
  border: 5px solid pink;
  	margin: 15px auto;
}

.grid{
	width: 90%;
	background: pink;
	border-radius: 30px;
	margin: 15px auto;
	justify-content:center;
	display:grid;

	grid-template-columns:repeat(3,30%);
	grid-template-rows:repeat(2,50%);
	grid-gap:30px 30px;
}
.grid-item{
	justify-content:center;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	padding: 0px;
}
.kandiline{
	width:100%;
	border-radius: 0px;
	margin: auto;
	border: 5px gray solid;
	
}


img{
	width:100%;
	border-radius: 30px;
	margin: auto;
	border: 5px gray solid;
}

img:hover {
  border: 10px solid green;
}

div.desc {
  padding: 5px;
}
* {
	box-sizing: border-box;
}
*:before,
*:after {
	box-sizing: border-box;
}
html,
body {
	height:100%;
	position: relative;
}
.main-container {
	min-height: 100vh;
	overflow: hidden;
	display: block;
	position: relative;
	padding-bottom: 100px;
}
footer{
	/*footer asub all*/
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 70px;
	background: grey;
}
form {
	max-width: 500px;
	margin: 100px auto;
}
p{
	font-family: Comic Sans ms;
	line-height: 2em;
	color: green;
	text-align: center;
}
#sub{

	font-size: 300%;
}
#sub2 {

	color:deeppink;
}
#sub3 {
	text-align: left;
}
